[submodule "SpeechT5"]
	path = SpeechT5
	url = https://github.com/microsoft/SpeechT5
[submodule "fairseq"]
	path = fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "data/jiant"]
	path = data/jiant
	url = https://github.com/nyu-mll/jiant.git
[submodule "data/slue"]
	path = data/slue
	url = https://github.com/asappresearch/slue-toolkit
[submodule "myapps/slue-toolkit"]
	path = myapps/slue-toolkit
	url = https://github.com/asappresearch/slue-toolkit.git
